.headsection{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

.container-wrap-item{
    width: 50%;
}


#companyHeading{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.list-items{
    height: 8vh;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    margin-left:auto;
    margin-right: 10rem;
    display: flex;
}